.desktop {
    width: 100%;
    height: 70px;
    justify-content: space-between;
    /* to allign the both contents left and right  */
    align-items: center;
    display: inline-flex;
    /* to vertically center an item */
    background-color: black;
}

.logo {
    text-decoration: none;
    color: grey;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size: 18px;

}

.logo:hover {
    color: grey;
    border: 1px solid grey;
}

.nav-links {
    display: flex;
    list-style-type: none;
}

.links {
    text-decoration: none;
    color: grey;
    margin: 10px 20px;
    font-size: 20px;
}

.links:hover {
    color: grey;
    border: 1px solid grey;
}

#last {
    background-color: black;
    width: 100%;
    height: 200px;
    /* bottom: 0;
    left: 0;
    position: fixed; */
}

footer {
    position: absolute;
    color: grey;
    margin-left: 38%;
}

.contactIcons {
    display: flex;
    margin-left: 40%;
}

#last a {
    margin: 1rem;
    font-size: larger;
    color: grey;
}

h2 {
    margin-left: 48%;
    color: grey;
}

#last hr {
    margin-left: 3rem;
    margin-right: 3rem;
    color: grey;
}

hr {
    margin-left: 3rem;
    margin-right: 3rem;
}

.one,
.two {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    transition: transform 0.5s ease;
    border: 0.5px solid black;
    width: 150px
}

.one img {
    width: 150px
}

.two img {
    width: 150px
}

ul {
    list-style-type: none;
    display: inline-flex;
    margin-left: 1.5rem;
}

h1 {
    margin-left: 1.5rem;
}

#img21:hover {
    transform: rotate(5deg);
}

#img22:hover {
    transform: skew(5deg)
}

#img23:hover {
    transform: scale(1.07);
}

#img24:hover {
    transform: translate(50px, 50px);
}

#img25:hover {
    transform: matrix(1, -0.3, 0, 1, 0, 0);
}

#img26:hover {
    transform: scale(0.7) rotate(10deg);
}

#img31:hover {
    transform: rotateX(60deg);
}

#img32:hover {
    transform: perspective(5cm) rotateX(-15deg) rotateY(30deg);
}

#img33:hover {
    transform: scale3d(1.07, 1, 1.5);
}

#img34:hover {
    transform: translate3d(50px, 50px, 70px);
}

#img35:hover {
    transform:matrix3d(
        0.7, 0.1, 0.7, 0,-0.6, 0.7, 0.2, 0,-0.5, -0.8, 0.7, 0, 10, 10, 0, 1 );
}

#img36:hover {
    transform: scale3d(1.07, 1, 1.5) rotateX(60deg);
}